/*****************************************
 * Consuming a Cj response from a client
 * @mamund (github/twitter/linkedin)
 * ***************************************/ 

#rawcj {
  font-family: monospace;
  white-space: pre;
}

.topLinks {
  margin-left:0;
  padding:0;
}
.topLinks li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
